<div>
  <div>
    <ul>
      <h1>Register</h1>
      <ul>
        <p>Enter First Name<span style="color: crimson; zoom: 80%">*</span></p>
        <input [(ngModel)]="regFName" placeholder="Enter First Name" />
      </ul>
      <ul>
        <p>Enter Last Name<span style="color: crimson; zoom: 80%">*</span></p>
        <input [(ngModel)]="regLName" placeholder="Enter Last Name" />
      </ul>
      <ul>
        <p>Enter Username<span style="color: crimson; zoom: 80%">*</span></p>
        <input [(ngModel)]="regUName" placeholder="Enter Username" />
      </ul>
      <ul>
        <p>Enter Email Id<span style="color: crimson; zoom: 80%">*</span></p>
        <input [(ngModel)]="regEmailId" placeholder="Enter Email Id" />
      </ul>
      <ul>
        <p>Enter Password<span style="color: crimson; zoom: 80%">*</span></p>
        <input [(ngModel)]="regPassword" placeholder="Enter Password" />
      </ul>
      <ul>
        <p>Confirm Password<span style="color: crimson; zoom: 80%">*</span></p>
        <input [(ngModel)]="regConPassword" placeholder="Confirm Password" />
      </ul>
      <button
        (click)="registerUser(regFName, regLName, regUName, regEmailId, regPassword, 'personal')"
      >
        Register
      </button>
      <span
        >If not new user, please login
        <button (click)="loginNavPage('personal')">Login</button></span
      >
    </ul>
  </div>
</div>
