<div>
  <!-- Scoreboard Navbar Section -->
  <app-navbar></app-navbar>
  <button (click)="backNav()"><ng-icon name="heroArrowLeftCircleSolid"></ng-icon> Back</button>

  <!-- Scoreboard Body Section -->
  <div class="scoreboard-body">
    <div class="scoreboard-div">
      <h1 class="h1Tag">ScanVera Technology & IT Scoreboard</h1>
      <p class="para">
        To proceed with ATS score check, please upload resume in docx or pdf format only
      </p>
      <br />
    </div>
    <br />
  </div>
  <!-- SELECT THE FILE  -->
  <label>
    <input
      type="file"
      id="resSelect"
      (change)="resSelect($event)"
      accept=".pdf,.docx,.doc"
      [disabled]="uploadState !== 'idle'"
      hidden
    />

    <label for="resSelect" class="file-btn" [class.disabled]="uploadState !== 'idle'">
      Choose File</label
    >

    <label for="resSelect">
      <h5><ng-icon name="heroCloudArrowUpSolid"></ng-icon> (PDF or DOCX, max 2MB)</h5>
    </label>
  </label>
  <br />

  <!-- FILE PREVIEW -->
  @if (selectedFile) {
    <div>
      <strong>{{ selectedFile.name }} </strong>
      <strong> : [{{ (selectedFile.size / 1024).toFixed(1) }} KB]</strong>
      <li>
        <button (click)="clearFile()"><ng-icon name="heroTrashSolid"></ng-icon>Clear</button>
      </li>
    </div>
    <br />
  }

  <!-- UPLOAD FILE  -->

  @if (selectedFile && uploadState === 'idle') {
    <button id="resUpload" (click)="resUpload()">Upload & Scan</button>
  }

  <!-- @if (uploadState == 'done' || uploadState == 'error') { -->
  @if (message) {
    <h5 [ngClass]="{ success: isSuccess, error: !isSuccess }">
      {{ message }}
    </h5>
  }

  @if (uploadState === 'done' && isSuccess === true) {
    <ul>
      <span class="file-btn" (click)="openMsgModal('positive')">
        <ng-icon name="heroCheckBadgeSolid"></ng-icon> Positive factors
      </span>
    </ul>
    <ul>
      <span class="file-btn" (click)="openMsgModal('partial')">
        <ng-icon name="heroExclamationTriangleSolid"></ng-icon> Partial factors
      </span>
    </ul>
    <ul>
      <span class="file-btn" (click)="openMsgModal('negative')">
        <ng-icon name="heroXCircleSolid"></ng-icon> Negative factors
      </span>
    </ul>
  }

  @if (activeModalType) {
    <br />
    <div
      class="modal"
     
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ activeModalType | titlecase }} Factors affecting ATS score
            </h5>
            <button (click)="closeModal()">
              <b>✕</b>
            </button>
          </div>

          <div class="modal-body">
            <!-- <ol style="text-align: left !important">
              @for (i of filteredMessages; track $index) {
                @if (i.msgParamType === activeModalType) {
                  <li [title]="i.msgDescription">
                    <b>{{ $index + 1 }} : {{ limitText(i.msgDescription) }}</b>
                  </li>
                }
              }
            </ol> -->
            <ol  style="text-align: left !important;">
              @for (i of filteredMessages; track $index) {
                <li class="hover-item" [title]="i.msgDescription" style="overflow-y: scroll;">
                  <span class="hover-number">{{ $index + 1 }}</span>
                  <span class="hover-text">
                    {{ limitText(i.msgDescription) }}
                  </span>
                </li>
              }
            </ol>
          </div>
        </div>
      </div>
    </div>
    <br />
  }
</div>
