<div>
  <!-- Dashboard Navbar Section -->
  <app-navbar></app-navbar>

  <!-- Dashboard Body Section -->
  <div class="dashboard-body">
    <div class="dashboard-div">
      <h1 class="h1Tag">ScanVera Dashboard</h1>
      <p class="para">Your ATS Score Analytics</p>
    </div>
  </div>
  <div>
    <h3>To check your Resume's ATS Score,
    <button (click)="scorePageNav()">Click Here</button>
    </h3>
  </div>
  <!-- <div>
    <h1>Job Opening</h1>
    <button>view openings</button>
  </div> -->
</div>
